*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #a2de96;
    text-align: center;
    overflow-x: hidden;
    
}

.container-fluid{
    padding: 0;
}

/* navbar - start */

.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

ul.navbar-nav li {
    float: left;
    list-style: none;
    padding: 0 0.375rem;
    border-right: 0.0625rem solid #fff;
}

nav img{
    padding-right: 0.375rem;
}

ul.navbar-nav li a{
    padding: 0 0;
    text-decoration: none;
}

ul.navbar-nav li:last-child{
    border-right: none;
}

/* navbar-ends */


/* title start */
.title-container{
    padding: 3.125rem 0 3.125rem 6.25rem;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: safe; 
}

.title-container > div.col-lg-4{
    padding-top: 6.25rem;
    margin-right: 12.5rem;
    line-height: 2rem;
}

.title-container h1{
    font-family:'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.title-container button{
    margin-right: 0.625rem;
}

/* title ends */

/* feature starts */

#features{
    background-color: #fff;
    padding:6.25rem 3.125rem 0 3.125rem;
}

/* features end */

/* about starts */

#about{
    padding: 6.25rem 3.125rem 0 3.125rem;
}

#about div.info{
    padding-top: 6.25rem;
}

/* about ends */

/* testimonials start */

#testimonials{
    padding: 6.25rem 3.15rem;
}

#testimonials img{
    border-radius: 100%;
}

/* testimonials ends */

/* contact starts */

#contact{
    padding: 6.25rem 3.15rem;
}

#contact {
    text-align: left;
    background-color: #fff;
}

#contact hr{
    border:2px solid;
    width: 45%;
}

#contact div.form-container{
    padding-left: 12.5rem;    
}

#contact input#feedback{
    border: 1px solid #000;
    padding: 0.625rem;
    margin: 0.3125rem;
}

#contact textarea{
    margin: 0.3125rem;
    padding: 0.625rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#contact button{
    margin: 0.3125rem;
    padding: 0.3125rem 0.9375rem;
}

/* contact ends */

/* download start */

#download{
    padding: 6.25rem 3.15rem;
    background-color: #fff;
}

#download div.buttons{
    padding-top: 1.5625rem;
}

#download button{
    margin-right:0.625rem;
}

/* download ends */

footer{
    color: #fff;
    background-color: #343a40;
    padding: 1.25rem;
}

/* media queries */

@media (max-width: 620px){

    #features,#about,#contact,#testimonials,#download{
        padding: 3.125rem;
    }

    ul.navbar-nav li {
        float: left;
        list-style: none;
        padding: 0.375rem 0.375rem;
        text-align: center;
        border-right: none;
    }
    
    ul.navbar-nav li a{
        padding: 0 0;
        text-decoration: none;
    }
    
    ul.navbar-nav li:last-child{
        border-right: none;
    }

    .title-container {
        padding: 1rem;
    }

    #title div.col-lg-4{
        margin-right: 0;
    }

    .title-container img{
        height: 100px;
        width:200px;
    }

    #about img{
        height: 100px;
        width:150px;
    }

    #about div.info{
        padding-top:0;
    }

    #contact div.form-container{
        padding-left:0;    
    }

    #contact textarea{
        margin: 0.625rem 0 0 0;
    }

    #download div.buttons{
        padding-top: 1.5625rem;
    }

    #download div.buttons button, .title-container button{
        margin-top: 0.65rem;
    }
}

@media (max-width: 768px) {
    
    #features,#about,#contact,#testimonials,#download{
        padding: 3.125rem;
    }
    
    ul.navbar-nav li {
        float: left;
        list-style: none;
        padding: 0.375rem 0.375rem;
        text-align: center;
        border-right: none;
    }

    ul.navbar-nav li a{
        padding: 0 0;
        text-decoration: none;
    }
    
    ul.navbar-nav li:last-child{
        border-right: none;
    }

    .title-container img{
        height:150px ;
        width:250px ;
    }

    .title-container{
        padding-left: 0;
    }
    
    #title div.col-lg-4{
        margin-right: 0;
    }

    #contact div.form-container{
        padding-left:0;    
    }

    #contact textarea{
        margin: 0.9375rem 0 0.9375rem 0;
    }

    #contact .form-container{
        margin-top: 0.9375rem;
    }
}

